@media print {
    .experience__badge {
        background-color: $color-icon-background !important;
        color: $color-icon-primary !important;

        -webkit-print-color-adjust: exact !important;
        print-color-adjust: exact !important;
    }
}

.content__full {
    width: 100% !important;
    float: none !important;
}

.mainHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contacts ul {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin: 0;
    padding: 0;
    list-style: none;
}

.contacts__item a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $color-primary;
    font-size: 3rem !important;
    text-decoration: none;
}

.contacts__item a:hover {
    opacity: 0.75;
}

.contacts__item a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $color-primary;
    font-size: 1.75rem;
    text-decoration: none;
}


.education__item {
    margin-bottom: 2rem;
}

.education__header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    gap: 2rem;
}

.education__title {
    margin: 0;
    font-size: 1.7rem;
    font-weight: 500;
}

.education__place {
    margin: 0.2rem 0 0;
    font-size: 1.35rem;
    font-weight: 400;
    color: $color-secondary;
}

.education__date {
    margin: 0;
    font-size: 1.25rem;
    font-weight: 400;
    color: $color-secondary;
    white-space: nowrap;
}

.education__description {
    margin-top: 0.1rem;
    font-size: 1.2rem;
}