body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    line-height: 1.7;
    font-size: 1.2rem;
    color: var(--cv-dark);
}

.mainHeading {
    text-transform: uppercase;
    font-size: 5rem;
    color: var(--cv-secondary);

    & span {
        color: var(--cv-primary);
    }
}

.section__title {
    font-size: 2.1rem;
    color: var(--cv-dark);
}

h1,
h2 {
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
}


html[dir="rtl"] {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: 'Vazirmatn', sans-serif;
        text-transform: none;
    }
}