{{ if .BasicInfo.Contacts }}
<div class="contacts">
    <ul>
        {{ range .BasicInfo.Contacts }}
        <li class="contacts__item {{ if eq .Type "download" }}contacts__download{{ end }}">

            {{ if eq .Type "internal" }}

                <a href="{{ .Link | relURL }}">
                    <i class="{{ .Icon }}"></i>
                    <span>{{ .Title }}</span>
                </a>

            {{ else if eq .Type "download" }}

                <a href="#"
                   onclick="downloadResume(); return false;"
                   aria-label="Download resume">
                    <i class="{{ .Icon }}"></i>
                    <span>{{ .Title }}</span>
                </a>

            {{ else }}

                <a href="{{ .Link | safeURL }}"
                   target="_blank"
                   rel="noopener noreferrer">
                    <i class="{{ .Icon }}"></i>
                    <span{{ if eq .Icon "fas fa-phone" }} dir="ltr"{{ end }}>{{ .Title }}</span>
                </a>

            {{ end }}

        </li>
        {{ end }}
    </ul>
</div>
{{ end }}