{{ if .BasicInfo.Contacts }}
<div class="contacts">
    <ul>
        {{ range .BasicInfo.Contacts }}
        <li class="contacts__item">

            {{ if eq .Type "internal" }}

                <a href="{{ .Link | relURL }}">
                    <i class="{{ .Icon }}"></i>
                </a>

            {{ else }}

                <a href="{{ .Link | safeURL }}"
                   target="_blank"
                   rel="noopener noreferrer">
                    <i class="{{ .Icon }}"></i>
                </a>

            {{ end }}

        </li>
        {{ end }}
    </ul>
</div>
{{ end }}